<% layout('layouts/Boilerplate') %>
<h1>All Fields</h1>
<div>
  <a href="/fields/new">Add Fields</a>
</div>

<% for (let field of fields) { %>

<div class="card mb-3">
  <div class="row">
    <div class="col-md-4">
      <% if(field.images.length) { %>
      <img class="img-fluid" src="<%= field.images[0].url %> " alt="" />
      <% } else {%>
      <img
        class="img-fluid"
        src="https://res.cloudinary.com/luis0lo/image/upload/v1611075077/field/ry3yefxuj41ituzirxsi.jpg"
        alt=""
      />
      <% } %>
    </div>
    <div class="col-md-8">
      <div class="card-body">
        <h5 class="card-title"><%= field.title %></h5>
        <p class="card-text"><%= field.description %></p>
        <p class="card-text">
          <small class="text-muted"><%= field.location %></small>
        </p>
        <a class="btn btn-primary" href="/fields/<%= field._id %> "
          >View <%= field.title %></a
        >
      </div>
    </div>
  </div>
</div>
<% } %>
