<% layout('layouts/Boilerplate') %>

<div class="row">
  <div class="col-6">
    <div class="card mb-3">
      <img src="<%= field.image %> " class="card-img-top" alt="..." />
      <div class="card-body">
        <h5 class="card-title"><%= field.title %></h5>
        <p class="card-text"><%= field.description %></p>
      </div>
      <ul class="list-group list-group-flush">
        <li class="list-group-item text-muted"><%= field.location %></li>
        <li class="list-group-item">
          Submitted by <%= field.owner.username %>
        </li>
        <li class="list-group-item"><%= field.price %></li>
      </ul>
      <% if (currentUser && field.owner.equals(currentUser._id)) {%>
      <div class="card-body">
        <a class="card-link btn btn-info" href="/fields/<%= field._id %>/edit "
          >Edit</a
        >
        <form
          class="d-inline"
          action="/fields/<%= field._id %>?_method=DELETE"
          method="POST"
        >
          <button class="btn btn-danger">Delete Field</button>
        </form>
      </div>
      <% } %>
      <div class="card-footer text-muted">2 days ago</div>
    </div>
  </div>
  <div class="col-6">
    <h2>Leave a Review</h2>
    <form
      action="/fields/<%= field._id %>/reviews"
      method="POST"
      class="mb-3 validated-form"
      novalidate
    >
      <div class="mb-3">
        <div class="mb-3">
          <label class="form-label" for="rating">Rating</label>
          <input
            class="form-range"
            type="range"
            min="1"
            max="5"
            name="review[rating]"
            id="rating"
          />
        </div>
        <label class="form-label" for="body">Review</label>
        <textarea
          class="form-control"
          name="review[body]"
          id="body"
          cols="30"
          rows="3"
          required
        ></textarea>
        <div class="valid-feedback">Looks good!</div>
      </div>
      <button class="btn btn-success">Submit</button>
    </form>
    <% for(let review of field.reviews) {%>
    <div class="card mb-3">
      <div class="card-body">
        <h5 class="card-title">Review: <%= review.rating %></h5>
        <p class="card-text">Rating: <%= review.body %></p>
        <form
          action="/fields/<%= field._id %>/reviews/<%= review._id %>?_method=DELETE"
          method="POST"
        >
          <button class="btn btn-sm btn-danger">Delete</button>
        </form>
      </div>
    </div>
    <% } %>
  </div>
</div>

<a href="/fields">All Fields</a>
